# datasets
datasets/
datasets1/
opera-data/

# features
feature/
feature_*/
feature(1)/

# logs
logs/
logs_*/
out_*.txt

# experiments
wandb/

# numpy features
*.npy
*.npz

# python
**/__pycache__/
**/*.pyc
**/*.pyo

# checkpoints/weights
cks/
*.pth

# system
.DS_Store
Thumbs.db

# generated images
output.png

# original files
src/benchmark/RespLLM/model_bts.py
src/benchmark/RespLLM/model_clap.py
src/benchmark/RespLLM/model_copy.py
src/benchmark/RespLLM/cnn_*.py
src/benchmark/RespLLM/RespLLM_copy.py
src/benchmark/RespLLM/util_w.py
src/benchmark/RespLLM__/
metadata_quality_check.ipynb
loss_out_csv.py
loss_out_csv_1.py
RespLLM.zip
bts/
torchvggish/