# datasets
datasets/
datasets1/
opera-data/

# features
feature/
feature_*/
feature(1)/

# logs
logs/
logs_*/
out_*.txt

# experiments
wandb/

# numpy features
*.npy
*.npz

# python
**/__pycache__/
**/*.pyc
**/*.pyo

# checkpoints/weights
cks/llm/*.pt


# system
.DS_Store
Thumbs.db

# generated images
output.png

# original files
src/benchmark/RespLLM/
model_ori.py
RespLLM_ori.py
util_ori.py
util_w.py